Connected Services/Servidor/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdCuentaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaUsuario" nillable="true" type="tns:CuentaUsuario" />
  <xs:complexType name="RespuestaServicioOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaServicioOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Logica" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorBD" type="xs:boolean" />
      <xs:element minOccurs="0" name="Exitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServicioOfboolean" nillable="true" type="tns:RespuestaServicioOfboolean" />
  <xs:complexType name="RespuestaServicioOfCuentaUsuario6jbaXeYD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaServicioOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Logica" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CuentaUsuario" Namespace="http://schemas.datacontract.org/2004/07/Logica" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorBD" type="xs:boolean" />
      <xs:element minOccurs="0" name="Exitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="tns:CuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServicioOfCuentaUsuario6jbaXeYD" nillable="true" type="tns:RespuestaServicioOfCuentaUsuario6jbaXeYD" />
</xs:schema>