Connected Services/Servidor/ServicioImplementacion1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioImplementacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionAmigos_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionJugador_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteCorreoAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoAsociado" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteCorreoAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_IniciarSesionJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionJugador" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_IniciarSesionJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarContraseñaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarContraseñaUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarContraseñaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarContraseñaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarFotoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarFotoUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarFotoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarFotoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ValidarContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarContraseña" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ValidarContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_CrearNuevaSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_CrearNuevaSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_UnirseASala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseASala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_UnirseASala_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirseASalaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_AbandonarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_AbandonarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbandonarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_EnviarMensajeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_EnviarMensajeConexionSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeConexionSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_GenerarCodigoNuevaSala_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCodigoNuevaSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_GenerarCodigoNuevaSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarCodigoNuevaSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_MostrarMensajeSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarMensajeSala" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_EnviarSolicitudAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudAmistad" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_EnviarSolicitudAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_AmistadYaExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:AmistadYaExiste" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_AmistadYaExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:AmistadYaExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerSolicitudesPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudesPendientes" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerSolicitudesPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudesPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_AceptarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_AceptarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AceptarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_EliminarAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmistad" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_EliminarAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAmistadResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerAmistades_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmistades" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerAmistades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmistadesResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerAmistad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmistad" />
  </wsdl:message>
  <wsdl:message name="IGestionAmigos_ObtenerAmistad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAmistadResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionJugador">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/RegistrarUsuario" message="tns:IGestionJugador_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/RegistrarUsuarioResponse" message="tns:IGestionJugador_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ExisteNombreUsuario" message="tns:IGestionJugador_ExisteNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ExisteNombreUsuarioResponse" message="tns:IGestionJugador_ExisteNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ExisteCorreoAsociado" message="tns:IGestionJugador_ExisteCorreoAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ExisteCorreoAsociadoResponse" message="tns:IGestionJugador_ExisteCorreoAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/IniciarSesionJugador" message="tns:IGestionJugador_IniciarSesionJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/IniciarSesionJugadorResponse" message="tns:IGestionJugador_IniciarSesionJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ModificarNombreUsuario" message="tns:IGestionJugador_ModificarNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ModificarNombreUsuarioResponse" message="tns:IGestionJugador_ModificarNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarContraseñaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuario" message="tns:IGestionJugador_ModificarContraseñaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuarioResponse" message="tns:IGestionJugador_ModificarContraseñaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarFotoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ModificarFotoUsuario" message="tns:IGestionJugador_ModificarFotoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ModificarFotoUsuarioResponse" message="tns:IGestionJugador_ModificarFotoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ValidarContraseña" message="tns:IGestionJugador_ValidarContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ValidarContraseñaResponse" message="tns:IGestionJugador_ValidarContraseña_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGestionSala">
    <wsdl:operation name="CrearNuevaSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/CrearNuevaSala" message="tns:IGestionSala_CrearNuevaSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/CrearNuevaSalaResponse" message="tns:IGestionSala_CrearNuevaSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/UnirseASala" message="tns:IGestionSala_UnirseASala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/UnirseASalaResponse" message="tns:IGestionSala_UnirseASala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbandonarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/AbandonarSala" message="tns:IGestionSala_AbandonarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/AbandonarSalaResponse" message="tns:IGestionSala_AbandonarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/EnviarMensajeSala" message="tns:IGestionSala_EnviarMensajeSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeConexionSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/EnviarMensajeConexionSala" message="tns:IGestionSala_EnviarMensajeConexionSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoNuevaSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/GenerarCodigoNuevaSala" message="tns:IGestionSala_GenerarCodigoNuevaSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/GenerarCodigoNuevaSalaResponse" message="tns:IGestionSala_GenerarCodigoNuevaSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarMensajeSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/MostrarMensajeSala" message="tns:IGestionSala_MostrarMensajeSala_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGestionAmigos">
    <wsdl:operation name="EnviarSolicitudAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/EnviarSolicitudAmistad" message="tns:IGestionAmigos_EnviarSolicitudAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/EnviarSolicitudAmistadResponse" message="tns:IGestionAmigos_EnviarSolicitudAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AmistadYaExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/AmistadYaExiste" message="tns:IGestionAmigos_AmistadYaExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/AmistadYaExisteResponse" message="tns:IGestionAmigos_AmistadYaExiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudesPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerSolicitudesPendientes" message="tns:IGestionAmigos_ObtenerSolicitudesPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerSolicitudesPendientesResponse" message="tns:IGestionAmigos_ObtenerSolicitudesPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerUsuario" message="tns:IGestionAmigos_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerUsuarioResponse" message="tns:IGestionAmigos_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/AceptarSolicitud" message="tns:IGestionAmigos_AceptarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/AceptarSolicitudResponse" message="tns:IGestionAmigos_AceptarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/EliminarAmistad" message="tns:IGestionAmigos_EliminarAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/EliminarAmistadResponse" message="tns:IGestionAmigos_EliminarAmistad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmistades">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerAmistades" message="tns:IGestionAmigos_ObtenerAmistades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerAmistadesResponse" message="tns:IGestionAmigos_ObtenerAmistades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmistad">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerAmistad" message="tns:IGestionAmigos_ObtenerAmistad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAmigos/ObtenerAmistadResponse" message="tns:IGestionAmigos_ObtenerAmistad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGestionJugador" type="tns:IGestionJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ExisteNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoAsociado">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ExisteCorreoAsociado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionJugador">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/IniciarSesionJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarNombreUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ModificarNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarContraseñaUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarFotoUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ModificarFotoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarContraseña">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ValidarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGestionSala" type="tns:IGestionSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearNuevaSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/CrearNuevaSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseASala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/UnirseASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbandonarSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/AbandonarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/EnviarMensajeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeConexionSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/EnviarMensajeConexionSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoNuevaSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/GenerarCodigoNuevaSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarMensajeSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/MostrarMensajeSala" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGestionAmigos" type="tns:IGestionAmigos">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionAmigos_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnviarSolicitudAmistad">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/EnviarSolicitudAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmistadYaExiste">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/AmistadYaExiste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudesPendientes">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/ObtenerSolicitudesPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AceptarSolicitud">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/AceptarSolicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAmistad">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/EliminarAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmistades">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/ObtenerAmistades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAmistad">
      <soap12:operation soapAction="http://tempuri.org/IGestionAmigos/ObtenerAmistad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioImplementacion">
    <wsdl:port name="NetTcpBinding_IGestionJugador" binding="tns:NetTcpBinding_IGestionJugador">
      <soap12:address location="net.tcp://localhost:8081/IGestionJugador" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/IGestionJugador</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGestionSala" binding="tns:NetTcpBinding_IGestionSala">
      <soap12:address location="net.tcp://localhost:8081/IGestionSala" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/IGestionSala</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGestionAmigos" binding="tns:NetTcpBinding_IGestionAmigos">
      <soap12:address location="net.tcp://localhost:8081/IGestionAmigos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/IGestionAmigos</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>