Connected Services/Servidor/ServicioImplementacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioImplementacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionJugador_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteCorreoAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoAsociado" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ExisteCorreoAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteCorreoAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_IniciarSesionJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionJugador" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_IniciarSesionJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarContraseñaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarContraseñaUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionJugador_ModificarContraseñaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarContraseñaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_EnviarMensajeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeSala" />
  </wsdl:message>
  <wsdl:message name="IGestionSala_SalaResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SalaResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionJugador">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/RegistrarUsuario" message="tns:IGestionJugador_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/RegistrarUsuarioResponse" message="tns:IGestionJugador_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ExisteNombreUsuario" message="tns:IGestionJugador_ExisteNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ExisteNombreUsuarioResponse" message="tns:IGestionJugador_ExisteNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ExisteCorreoAsociado" message="tns:IGestionJugador_ExisteCorreoAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ExisteCorreoAsociadoResponse" message="tns:IGestionJugador_ExisteCorreoAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/IniciarSesionJugador" message="tns:IGestionJugador_IniciarSesionJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/IniciarSesionJugadorResponse" message="tns:IGestionJugador_IniciarSesionJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ModificarNombreUsuario" message="tns:IGestionJugador_ModificarNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ModificarNombreUsuarioResponse" message="tns:IGestionJugador_ModificarNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarContraseñaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuario" message="tns:IGestionJugador_ModificarContraseñaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuarioResponse" message="tns:IGestionJugador_ModificarContraseñaUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGestionSala">
    <wsdl:operation name="EnviarMensajeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionSala/EnviarMensajeSala" message="tns:IGestionSala_EnviarMensajeSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalaResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionSala/SalaResponse" message="tns:IGestionSala_SalaResponse_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGestionJugador" type="tns:IGestionJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteNombreUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ExisteNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteCorreoAsociado">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ExisteCorreoAsociado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionJugador">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/IniciarSesionJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarNombreUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ModificarNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarContraseñaUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionJugador/ModificarContraseñaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGestionSala" type="tns:IGestionSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnviarMensajeSala">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/EnviarMensajeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalaResponse">
      <soap12:operation soapAction="http://tempuri.org/IGestionSala/SalaResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioImplementacion">
    <wsdl:port name="NetTcpBinding_IGestionJugador" binding="tns:NetTcpBinding_IGestionJugador">
      <soap12:address location="net.tcp://localhost:8081/IGestionJugador" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/IGestionJugador</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGestionSala" binding="tns:NetTcpBinding_IGestionSala">
      <soap12:address location="net.tcp://localhost:8081/IGestionSala" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/IGestionSala</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>